FE/dist-electron/win-unpacked/chrome_100_percent.pak
FE/dist-electron/win-unpacked/chrome_200_percent.pak
FE/dist-electron/win-unpacked/d3dcompiler_47.dll
FE/dist-electron/win-unpacked/electron.exe
FE/dist-electron/win-unpacked/ffmpeg.dll
FE/dist-electron/win-unpacked/icudtl.dat
FE/dist-electron/win-unpacked/libEGL.dll
FE/dist-electron/win-unpacked/libGLESv2.dll
FE/dist-electron/win-unpacked/LICENSE.electron.txt
FE/dist-electron/win-unpacked/LICENSES.chromium.html
FE/dist-electron/win-unpacked/resources.pak
FE/dist-electron/win-unpacked/snapshot_blob.bin
FE/dist-electron/win-unpacked/v8_context_snapshot.bin
FE/dist-electron/win-unpacked/vk_swiftshader_icd.json
FE/dist-electron/win-unpacked/vk_swiftshader.dll
FE/dist-electron/win-unpacked/vulkan-1.dll
FE/dist-electron/win-unpacked/locales/af.pak
FE/dist-electron/win-unpacked/locales/am.pak
FE/dist-electron/win-unpacked/locales/ar.pak
FE/dist-electron/win-unpacked/locales/bg.pak
FE/dist-electron/win-unpacked/locales/bn.pak
FE/dist-electron/win-unpacked/locales/ca.pak
FE/dist-electron/win-unpacked/locales/cs.pak
FE/dist-electron/win-unpacked/locales/da.pak
FE/dist-electron/win-unpacked/locales/de.pak
FE/dist-electron/win-unpacked/locales/el.pak
FE/dist-electron/win-unpacked/locales/en-GB.pak
FE/dist-electron/win-unpacked/locales/en-US.pak
FE/dist-electron/win-unpacked/locales/es-419.pak
FE/dist-electron/win-unpacked/locales/es.pak
FE/dist-electron/win-unpacked/locales/et.pak
FE/dist-electron/win-unpacked/locales/fa.pak
FE/dist-electron/win-unpacked/locales/fi.pak
FE/dist-electron/win-unpacked/locales/fil.pak
FE/dist-electron/win-unpacked/locales/fr.pak
FE/dist-electron/win-unpacked/locales/gu.pak
FE/dist-electron/win-unpacked/locales/he.pak
FE/dist-electron/win-unpacked/locales/hi.pak
FE/dist-electron/win-unpacked/locales/hr.pak
FE/dist-electron/win-unpacked/locales/hu.pak
FE/dist-electron/win-unpacked/locales/id.pak
FE/dist-electron/win-unpacked/locales/it.pak
FE/dist-electron/win-unpacked/locales/ja.pak
FE/dist-electron/win-unpacked/locales/kn.pak
FE/dist-electron/win-unpacked/locales/ko.pak
FE/dist-electron/win-unpacked/locales/lt.pak
FE/dist-electron/win-unpacked/locales/lv.pak
FE/dist-electron/win-unpacked/locales/ml.pak
FE/dist-electron/win-unpacked/locales/mr.pak
FE/dist-electron/win-unpacked/locales/ms.pak
FE/dist-electron/win-unpacked/locales/nb.pak
FE/dist-electron/win-unpacked/locales/nl.pak
FE/dist-electron/win-unpacked/locales/pl.pak
FE/dist-electron/win-unpacked/locales/pt-BR.pak
FE/dist-electron/win-unpacked/locales/pt-PT.pak
FE/dist-electron/win-unpacked/locales/ro.pak
FE/dist-electron/win-unpacked/locales/ru.pak
FE/dist-electron/win-unpacked/locales/sk.pak
FE/dist-electron/win-unpacked/locales/sl.pak
FE/dist-electron/win-unpacked/locales/sr.pak
FE/dist-electron/win-unpacked/locales/sv.pak
FE/dist-electron/win-unpacked/locales/sw.pak
FE/dist-electron/win-unpacked/locales/ta.pak
FE/dist-electron/win-unpacked/locales/te.pak
FE/dist-electron/win-unpacked/locales/th.pak
FE/dist-electron/win-unpacked/locales/tr.pak
FE/dist-electron/win-unpacked/locales/uk.pak
FE/dist-electron/win-unpacked/locales/ur.pak
FE/dist-electron/win-unpacked/locales/vi.pak
FE/dist-electron/win-unpacked/locales/zh-CN.pak
FE/dist-electron/win-unpacked/locales/zh-TW.pak
